@import "tailwindcss";
@import "./fonts.css";

@theme {
  --font-cairo: "Cairo", sans-serif;
  --animate-fade-in: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

html,
body {
  overflow-x: hidden;
}

/* ===== Rotating Spinner ===== */
.rotating-item {
  font-family: "MedulaOne", serif;
  color: #ffffff;
  text-shadow: 0px 0px 42px rgba(255, 255, 255, 0.68);
}
